@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400&family=Fira+Code:wght@300..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Overpass:ital,wght@0,500&display=swap');

html {
    max-width: 75ch;
    margin: auto;
    padding: 3em 1.5em;
    font-size: 1.2em;
}

h1 {
    font-family: 'Arvo';
    font-size: 1.8em;
    margin-bottom: 0.6em;
    display: inline;
}

h2 {
    font-family: 'Arvo';
    font-size: 1.2em;
    margin-top: 2em;
}

p {
    font-family: 'Fira Sans';
    text-align: justify;
    color: rgb(50, 50, 50);
    line-height: 1.5;
}

pre {
    padding: 2em;
    font-family: 'Fira Code';
    font-size: 0.9em;
}

.date {
    font-family: 'Overpass';
    color: rgb(100, 100, 100);
    font-size: 0.9em;
    font-style: italic;
    margin-left: 0.3em;
}

.category {
    font-family: 'Overpass';
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    margin-right: 1.5em;
    display: block;
    margin-bottom: 0.8em;
    color: #E30B5C;
}

hr {
    margin-top: 2em;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


nav {
    text-align: center;
    margin-bottom: 3em;
    font-family: 'Overpass';
    text-transform: uppercase;
}

a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

nav a {
    text-underline-offset: 0.4em;
    text-decoration: underline dotted #E30B5C;
}

nav a:hover {
    text-decoration: underline #E30B5C;
}

nav a {
    margin: 2em;
    font-size: 1.1em;
}

hr {
    border: 0.05em solid black;
}

.preview {
    font-style: italic;
}

figure {
    width: 70%;
    display: block;
    margin: 2em auto;
}

img {
    width: 100%;
}

figcaption {
    text-align: center;
    font-family: 'Fira Sans';
    color: rgb(50, 50, 50);
    line-height: 1.5;
}